extends layout
append head
  script(src="/javascripts/index.js" type="module" defer)
  link(rel='stylesheet' href='/stylesheets/main-grid.css')

include util.pug
block content
  div.grid-container

    .featured-article
      .main-article-container
      .main-article-box
        .freshly-salted Freshly Salted
        .title-author-container
          a(href="http://www.google.com").article-title A very long headline that we'll interpolate much much much much much later
          .salt-icon-container
            p.salt-counter-number 87
            img(src="./images/SaltIcon.png", style={'max-width': '50%','max-height': '50%'})
          //- .author-date-container
          //-   .art-author Author Name
          //-   .art-author Date Created
        .art-summary fundamental; But way, overcome only officers the of to text want in and holding was they'd best acting sentences although an starting always for been he got peace general round client even boss and or discharge self-interest. Refinements. Than they and theirDecorated would sleep seven separated girl met deeply, almost with a him that and the up expect, by and bidding more up first prudently, the sofa everyone attained of proceeded of out of are like millions to get is evening. Relays this, that might fundamental; But way, overcome only officers the of to text want in and holding was they'd best acting sentences although an starting always for been he got peace general round client even boss and or discharge self-interest. Refinements. Than they and their that I does musical just understand distressed of not indulged achieves arches the for.
        a(href="http://www.google.com"): p Read More

    .sidebar-container
      h1 #SuperSalty
      .sidebar
        each randomArticle in randomArticles
          +sidebar(randomArticle.title, randomArticle.image)

    .latest
      each latestArticle in latestArticles
          +sidebar(latestArticle.title, latestArticle.image)
