extends layout
append head
  script(src="/javascripts/index.js" type="module" defer)
  link(rel='stylesheet' href='/stylesheets/main-grid.css')

include util.pug
block content
  div.grid-container

    .featured-article
      .main-article-container
        img(src= featured.image)
      .main-article-box
        .freshly-salted Freshly Salted
        .title-author-container
          a(href="http://www.google.com").article-title #{featured.title}
          .salt-icon-container
            p.salt-counter-number 87
            img(src="./images/SaltIcon.png", style={'max-width': '50%','max-height': '50%'})
          //- .author-date-container
          //-   .art-author Author Name
          //-   .art-author Date Created
        .art-summary #{featured.content}
        a(href="http://www.google.com"): p Read More

    .sidebar-container
      h1 #SuperSalty
      .sidebar
        each randomArticle in randomArticles
          +sidebar(randomArticle.title, randomArticle.image, randomArticle.id)

    .latest
      each latestArticle in latestArticles
          +sidebar(latestArticle.title, latestArticle.image, latestArticle.id)
