extends layout
append head
  script(src="/javascripts/index.js" type="module" defer)
  link(rel='stylesheet' href='/stylesheets/grid.css')
block content
  div.grid-container
    .main-article 
      .main-art-container
      .main-art-headline
        .freshly-salted Freshly Salted
        .tacontainer   
          .art-title A very long headline that we'll interpolate later
          .salt-icon-article 
            p.salt-counter-number 87
            img(src="./images/SaltIcon.png", style={'max-width': '50%','max-height': '50%'})
        .art-author Author Name 
        .art-author Date Created
        .art-summary "Decorated would sleep seven separated girl met deeply, almost with a him that and the up expect, by and bidding more up first prudently, the sofa everyone attained of proceeded of out of are like millions to get is evening. Relays this, that might fundamental; But way, overcome only officers the of to text want in and holding was they'd best acting sentences although an starting always for been he got peace general round client even boss and or discharge self-interest. Refinements. Than they and their that I does musical just understand distressed of not indulged achieves arches the for. 

      
    .sidebar  
      p IMAGE Sidebar Headline 
        p salt #
      p IMAGE Sidebar Headline 
        p salt #
      p IMAGE Sidebar Headline 
        p salt #    
      p IMAGE Sidebar Headline 
        p salt #
      p IMAGE Sidebar Headline 
        p salt #
      p IMAGE Sidebar Headline 
        p salt #
      p IMAGE Sidebar Headline 
        p salt #    
 

    
    .latest
      .article-container 
        p IMAGE Botton Headline 
          p salt #        
      .article-container 
        p IMAGE Botton Headline 
          p salt #    
      .article-container 
        p IMAGE Botton Headline 
          p salt #        
      .article-container 
        p IMAGE Botton Headline 
          p salt #    