doctype html
html
  head
    block head
    title="Sodium"
    link(rel='stylesheet' href='/stylesheets/reset.css')
    //- link(rel='stylesheet' href='/stylesheets/article.css')
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="https://kit.fontawesome.com/75a2f1fb3a.js" crossorigin="anonymous")
  body  
  header.bg 
    nav.page-wrap 
      div 
        a(href="/"): img.navlogo(src="/images/whitelogo.png", alt="")
      if !authenticated
        div.nav-links 
          form(action="/demo", method="get")
            button.button-style(type="submit") Demo
          form(action="/users/signup", method="get") 
            button.button-style(type="submit") Sign Up
          form(action="/users/login", method="get") 
            button.button-style(type="submit") Login
      else 
        div.nav-links 
          //Interpolate the following
          p.nav-links Steve Guttbinder
          img.avatar-nav(src="/images/headshot.png", alt="")
          form(action="/users/login", method="get") 
            button.button-style(type="submit") Logout
  div.page-wrap
    block content 
  footer  Copyright © 2021 - The Six Pack