doctype html
html
  head
    block head
    title="Sodium"
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel="stylesheet" href="/stylesheets/index.css")
    script(src="https://kit.fontawesome.com/75a2f1fb3a.js" crossorigin="anonymous")
  body  
  header.bg 
    nav.page-wrap 
      div 
        img.navlogo(src="/images/whitelogo.png", alt="")
      div.nav-links 
        form(action="./demo", method="get")
          button.button-style(type="submit") Demo
        form(action="./users/signup", method="get") 
          button.button-style(type="submit") Sign Up
        form(action="./user/login", method="get") 
          button.button-style(type="submit") Login
        img.avatar-nav(src="/images/headshot.png", alt="")
  div.page-wrap
    block content 
  footer  Copyright © 2021 - The Six Pack