doctype html
html
  head
      block head
        title="Sodium"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
        script(src="https://kit.fontawesome.com/75a2f1fb3a.js" crossorigin="anonymous")
  body
    // Add Nav here... with conditional statement within the nav block 'authenticated: true/false' 
    block content
