//- Do we even need this pug?
extends layout
  append head
      block head
        title="Sodium"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  block content
    form(action="logout" method="POST")
    submit(type='submit') Logout