.page-wrap {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.bg {
    background-color: #012365;

}

footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  height: 3em;
  display: flex;
  align-items: center;
justify-content: center;
font-weight: 100;
}

.nav-links{
    font-family: Montserrat;
    display: flex;
    padding: 0 10px;
    width: 400px;
    justify-content: flex-end;
    align-items: center;
}

.button-style {
    font-family: Montserrat;
    font-weight: 700;
    height: 2em;
    padding: 0 20px;
    margin: 0 10px;
    
    
}

.navlogo {
    box-sizing: content-box;
    max-height: 30px;
    padding: 5px;
}

.avatar-nav {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

nav {
    background-color: #012365;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    position: sticky;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
}



p {
    font-family: Montserrat;
    font-weight: 400;
}

h1 {
    font-family: Montserrat;
    font-weight: 600;
    color: #000000;
}